name: Publish Packages (or Tag Release Manually upon manual dispatch)

on:
  workflow_dispatch:
    branches:
      - main
      - backport/**
    inputs:
      version:
        description: 'Version'
        required: true
        type: string
      tag:
        description: 'Tag name'
        required: true
        type: string
  push:
    branches:
      - main
      - backport/**
      - ci

permissions:
  contents: read

env:
  # Among other things, opts out of Turborepo telemetry
  # See https://consoledonottrack.com/
  DO_NOT_TRACK: '1'
  # Enables Turborepo Remote Caching.
  TURBO_REMOTE_CACHE_SIGNATURE_KEY: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

jobs:
  oidc-token:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Install OIDC Client from Core Package
        run: npm install @actions/core@1.6.0 @actions/http-client
      - name: Get Id Token
        uses: actions/github-script@v8
        id: idtoken
        with:
          script: |
            const coredemo = require('@actions/core')
            let id_token = await coredemo.getIDToken()
            coredemo.setOutput('id_token', id_token)

  oidc-test:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run OIDC Test Script
        run: node ./scripts/temp/oidc.js

  build-and-publish-snapshots-to-npm:
    permissions:
      id-token: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/ci'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        uses: ./.github/workflows/actions/install-dependencies

      - name: Setup Solana Test Validator
        id: start-test-validator
        uses: ./.github/workflows/actions/setup-validator

      - name: Run Build Step (force)
        run: pnpm turbo build --force=true

      - name: Update npm
        run: npm --version && npm install -g npm@latest && npm --version

      - name: Debug OIDC Environment
        run: |
          echo "ACTIONS_ID_TOKEN_REQUEST_URL: ${ACTIONS_ID_TOKEN_REQUEST_URL:+SET}"
          echo "ACTIONS_ID_TOKEN_REQUEST_TOKEN: ${ACTIONS_ID_TOKEN_REQUEST_TOKEN:+SET}"

      - name: Publish Canary Releases
        run: |
          find packages/* -maxdepth 0 -type d -print0 | \
            xargs -t0 -n 1 -I {} \
              sh -c 'cd {} && pnpm pkg delete devDependencies'
          pnpm turbo publish-packages --concurrency=${TURBO_CONCURRENCY:-1}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_TAG: canary

      - name: Stop Test Validator
        if: always() && steps.start-test-validator.outcome == 'success'
        run: kill ${{ steps.start-test-validator.outputs.pid }}
